# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
pubspec.lock

# Android
android/.gradle/
android/local.properties
android/app/.cxx/
android/key.properties
*.keystore
*.jks

# IDE
.idea/
.vscode/
*.iml

# Muhit
.env
